.DS_Store
Thumbs.db

*.swp
*.swo
*.swn
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

node_modules/
*.log

/dist
/build

*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.env
/venv

**/__pycache__/

budgets_migrations/versions/